hr{
    margin: 0;
}
.rodape{
    background-color:var(--branco);
}
.rodape__titulo{
    padding: 2em;
}
.lista-rodape{
    display: none;
}
.lista-rodape__link:hover {
    color: var(--laranja);
    }

@media screen and (min-width:1024px){
    .rodape{
        display: flex;
        justify-content: space-around;
        padding: 4em;
    }

    .rodape__titulo{
        font-size: 24px;
        margin: 0;
        padding: 0;
    }

    .lista-rodape{
        display: block;
    }

    .lista-rodape__titulo{
        margin: 0 0 2em 0;
        font-size: 14px;
        color: #858585;
    }
    .lista-rodape__item{
        margin: 1em 0;
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    .lista-rodape__link{
        text-decoration: none;
        font-size: 14px;
        color: #474646;
    }

}
@media screen and (min-width: 1728px){
    .rodape{
        padding: 3em 0;
    }
    .lista-rodape{
        padding: 1em;
        border-left: 1px solid #858585;
    }
    
}