.topicos {
    background: var(--azul-degrade);
    text-align: center;
}
.topicos__titulo{
    color: var(--branco);
    font-weight: 300;
    padding: 2em;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    gap: 0.7em;
    justify-content: center;
    padding: 1em;
}

.topicos__item{
    background-color: var(--laranja);
    color: var(--branco);
    padding: 1em 1.8em;
}
.topicos__link{
    text-decoration: none;
    color: var(--branco);
    font-size: 14px;
    font-weight: 700;
}
@media screen and (min-width: 1024px){
    .topicos__titulo{
        font-size: 24px;
    }
    .topicos__link{
        font-size: 16px;
    }
    
}